/* resets */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  color: inherit;
  font-family: sans-serif;
}

html {
  font-size: 10px;
}

.header {
  border: 1px solid red;
}

.mobile-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.mobile-logo {
  background-color: #000;
  padding: 1.5rem 2rem;
}

.mobile-logo img {
  width: 7rem;
}

.mobile-nav-icons .iconify {
  font-size: 4.6rem;
  border: 1px solid #aaa;
  padding: 0.9rem;
}

.mobile-nav-icons .iconify:nth-child(1) {
  color: #aaa;
}

.mobile-nav-icons .iconify:nth-child(2) {
  color: #f42;
  margin-left: -0.4rem;
}

.grid-3-columns {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 24px;
}

.grid-4-columns{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(1, 1fr);
  gap: 24px;
}

.flex{
  display: flex;
}

.hidden{
  display: none;
}

/* banner section */
.banner {
  border: 1px solid blue;
  display: flex;
  flex-direction: column;
}

/* hide the html sematic headers */
h1.hide {
  visibility: hidden;
  width: 0;
  height: 0;
}

.banner-item {
  border: 1px solid red;
  height: 15rem;
  margin-top: 1rem;
  position: relative;
}

.banner-item:nth-child(2) {
  background-image: url(../images/image-gradient.png), url("../images/image-6-1-796x417.png");
  background-size: cover;
  background-position: center;
  background-blend-mode: multiply;
}

.banner-item:nth-child(3) {
  background: url(../images/image-gradient.png), url("../images/tnw2020-feature_img-02.jpg");
  background-size: cover;
  background-position: center;
}

.banner-item:nth-child(4) {
  background: url(../images/image-gradient.png), url("../images/sundar.jpg");
  background-size: cover;
  background-position: center;
}

.banner-item-bg {
  display: inline-block;
  width: 100%;
  height: 100%;
}

.banner-item-info {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 10px;
  color: #fff;
}

.banner-cat {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 1.2rem;
  margin-bottom: 0.8rem;
}

.banner-title {
  display: inline-block;
  font-weight: bold;
  font-size: 2rem;
  margin-bottom: 0.8rem;
}

.banner-details {
  display: flex;
  align-items: center;
  font-size: 1.3rem;

}

.banner-details > * {
  margin-left: 0.5rem;
}

.banner-details .iconify {
  font-size: 2rem;
  padding-right: 0.5rem;
}

.author:hover {
  font-weight: bold;
}

.latest-news p a, span {
  font-size: 13px;
  color: #aaa;
}

.section-header {
  color: red;
  font-size: 2.5rem;
  font-weight: bold;
}

.section-header:hover {
  color: #000;
}

.latest-news{
  margin-top: 30px;
}
.latest-news h3{
  color: #000;
  font-size: 16px;
}

.grid-4-columns {
  grid-template-columns: repeat(3, 1fr);
}

.latest-news .grid-4-columns {
  grid-template-columns: 1fr;
}

.latest-news .grid-4-columns article figure {
  display: flex;
}

.latest-news .grid-4-columns article img {
  margin-right: 10px;
  height: 75px;
  width: 75px;
}

.funding-article {
  margin-bottom: 1rem;
  border: 1px solid rgb(76, 0, 255);
}

.article-top {
  position: relative;
}

.article-details {
  background-color: #ff442214;
}

.article-details,
.article-top > h4 {
  padding: 10px 16px 10px 100px;
}

.article-top > h4 {
  color: #fff;
  background-color: red;
  font-size: 2rem;
}

.article-details h4 {
  font-size: 1.8rem;
  text-transform: uppercase;
  font-weight: bolder;
  letter-spacing: 0.5px;
}

.article-details h5 {
  color: #aaa;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  font-size: 1.2rem;
}

.company-logo {
  background-color: #ffffff;
  width: 60px;
  height: 60px;
  position: absolute;
  left: 10px;
  top: 10px;
}

.company-logo img {
  height: 100%;
  object-fit: cover;
}

.article-middle,
.article-bottom {
  background-color: #fffaf9;
  padding: 25px;
  border-bottom: 2px solid #ffcec6;
}

.funding-article-tag {
  font-size: 1.3rem;
  padding-bottom: 0.5rem;
  color: #777;
  display: flex;
  align-items: center;
}

.funding-article-tag .iconify {
  color: #000;
  margin-right: 0.5rem;
}

.article-bottom {
  border-bottom: none;
}

.latest-funding-header {
  padding: 1rem 0;
}

.latest-funding-header ul li a {
  color: var(--color-red);
  padding-right: 15px;
  font-size: 1.5rem;
}

.latest-funding-header ul li a:hover {
  color: #000;
}

.latest-funding-grid {
  display: grid;
  grid-template-columns: 100%;
}

.latest-funding-header ul {
  display: block;
}

.latest-funding-header ul li {
  margin: 15px 0;
  border: none;
}

.latest-funding-header ul li a {
  color: #ff0000;
  font-weight: lighter;
}

 /* categories */
 .categories-article {
  padding: 1rem 0;
 }

.categories-article-header {
  padding: 172px 10px 10px 10px;
}

.categories-article-header p a {
  color: #ccc;
}
.categories-article-bottom li a {
  line-height: 20px;
  color:#5a5a5a;
}
.categories-article-header h2 {
  margin: 10px 0;
  font-size: 18px;
  color: #fff;
}

.categroies-article-bottom li {
  display: flex;
  padding: 10px 0;
  border-bottom: 1px solid #ccc;
}

.categories-article-header {
  background: linear-gradient( 337deg, rgba(0, 0, 0, 0.9) 30%,
  rgba(17, 8, 8, 0.6) 50%),
  url("../images/hardcore.png");
  grid-area: showcase-item1;
  min-height: 40rem;
  position: relative;
}

.categories-article-header .banner-cat,
.banner-title,
.banner-details {
  color: #fff;
}

.cat-head-wrap {
  position: absolute;
  bottom: 1rem;
  left: 1rem;
}
.categories-article-header .banner-title:hover {
  text-decoration: underline;
}

.categories-article-middle {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgba(255, 68, 34, 0.06);
  position: relative;
}

.categories-article-middle-description {
  padding: 2.5rem 1rem;
  color: #f00;
  font-size: 1.5rem;
}

.categories-article-image-wrapper {
  position: absolute;
  max-width: 10rem;
  top: 0;
  bottom: 0;
  right: 0;
}

.categories-article-image-wrapper img {
  width: 100%;
  height: 100%;
}

.categories-article-middle-description h5 {
  text-transform: uppercase;
  margin-bottom: 0.8rem;
}

.categories-article-middle-description a {
  margin-bottom: 0.8rem;
}

.categroies-article-bottom li {
  padding: 1rem 0;
  font-size: 1.2rem;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #aaa;
}

.categroies-article-bottom li a {
  color: #777;
}

.categroies-article-bottom li a:hover {
  color: #131313;
}

.red-list-style {
  display: inline-block;
  width: 0.5rem;
  height: 0.5rem;
  border-radius: 50%;
  background-color: #f00;
  margin-right: 1rem;

}

/* .grid-3-columns .categories-grid {
  grid-template-columns: repeat(2, 1fr);
} */

/* categories-end */

.f-top {
  align-items: center;
  justify-content: center;
  background-color: #131313;
  display: flex;
  flex-direction: column;
  padding: 42px 0;
}

.f-top .s-icons {
  margin-bottom: 21px;
}

.f-top ul {
  display: flex;
}

.f-top ul:last-child a {
  font-weight: bold;
  text-transform: uppercase;
  color: #aaa;
  font-size: 12px;
}

.f-top ul li:not(:last-child) {
  margin-right: 5px;
}

.f-bottom {
  display: none;
  align-items: center;
  justify-content: center;
  background-color: #000;
  padding: 40px 0;

}

#f-bottom-hidden {
  display: flex;
}

.f-top .s-icons li {
  background-color: #333;
  align-items: center;
  justify-content: center;
  padding: 10px;
  border-radius: 50%;
  display: flex;
}

.f-top ul li:not(:last-child) {
  margin-right: 15px;
}

.f-top ul li i {
  font-size: 20px;
}

footer .f-bottom p {
  margin: 0 10px;
  color: #aaa;
}
